<footer class="flex items-center justify-center w-full min-h-[60px] py-2 border-t text-sm lg:min-h-[80px] mt-12 bg-white ">
    <div class="grid gap-2 justify-self-start text-center lg:grid-cols-4 lg:gap-4">
      <a class="hover:underline/primary" href="#">
        About Us
      </a>
      <a class="hover:underline/primary" href="#">
        Contact Us
      </a>
      <a class="hover:underline/primary" href="#">
        Terms and Conditions
      </a>
      <a class="hover:underline/primary" href="#">
        Privacy Policy
      </a>
    </div>
    <span class="mx-2.5">© 2023 Computer Universe. All rights reserved.</span>
    <nav class="hidden space-x-2 lg:flex">
      <a class="rounded-full hover:underline/primary" href="#">
        Facebook
      </a>
      <a class="rounded-full hover:underline/primary" href="#">
        Twitter
      </a>
      <a class="rounded-full hover:underline/primary" href="#">
        Instagram
      </a>
    </nav>
  </footer>
</div>