---
import Logo from '../icons/Logo.astro'
import { supabase } from '../../lib/supabase'
import SearchComponent from './Searching.svelte'
import Cart from '../Cart/Cart.svelte'

const { data: { user } } = await supabase.auth.getUser()
const userProfilePicture = user?.user_metadata?.avatar_url || 'User.svg'
---

<nav class="border-b bg-white ">

  <div class=" flex items-center justify-between p-4 max-w-screen-xl mx-auto">
    <a href="/" class=" flex items-center font-semibold text-stone-950 gap-2">
      <Logo class=" size-10"></Logo>
      <p class=" sm:block hidden">NexGenTec</p>
    </a>

    <SearchComponent client:load/>

    <div>
      <ul class=" font-medium flex items-center gap-4">
        <li>
          <a href="/dashboard">
            <img src={userProfilePicture} alt="" class=" p-2 size-10 rounded-full border bg-background hover:bg-accent transition-colors hover:border-black hover:scale-105">
          </a>
        </li>

        <li>
          <Cart client:load/>
          <!-- <a href="/shoppingcart" id="cart" class=" relative">
            <Carrito class="size-10 p-2 rounded-full border bg-background hover:bg-accent transition-colors hover:border-black hover:scale-105"></Carrito>
            <span id="cuenta-carrito" class=" absolute bottom-5 left-8 text-white bg-black rounded-full p-1 text-center inline-block leading-3"></span>
          </a> -->
        </li>
      </ul>
    </div>

  </div>
</nav>