---
import Logo from '@components/icons/logo.astro'
import Carrito from '@components/icons/Carrito.astro'
---
<nav class="border-b bg-white ">

  <div class=" flex items-center justify-between p-4 max-w-screen-xl mx-auto">
    <a href="/" class=" flex items-center font-semibold text-stone-950 gap-2">
      <Logo class=" size-10"></Logo>
      NexGenTec
    </a>

    <label for="" class=" flex">
      <input id="search" type="search" class=" py-2 px-4 bg-zinc-50 border border-black focus:border-blue-500 rounded-l-md focus:outline-none  focus:bg-white focus:ring-opacity-60">
      <!-- <DropdownMenu client:load /> -->
      <button id="search" class=" bg-black text-white px-4 py-2 rounded-e-md">Buscar</button>
    </label>

    <div>
      <ul class=" font-medium flex items-center gap-4">
        <!-- <li>
          <a href="/dashboard" class="block text-stone-950">Perfil</a>
        </li>
        <li>
          <a href="/register" class="block text-stone-950">Registrarse</a>
        </li>
        <li>
          <a href="/signin" class="block text-stone-950">Iniciar Sesión</a>
        </li> -->
        <li>
          <a href="/register"><img src="User.svg" alt="" class=" p-2 rounded-full border border-input bg-background hover:bg-accent transition-colors hover:border-black hover:scale-105"></a>
        </li>
        <li>
          <button class="p-3 rounded-full border border-input bg-background hover:bg-accent transition-colors hover:border-black hover:scale-105">
            <Carrito class="size-5"/>
          </button>
        </li>
      </ul>
      
    </div>

  </div>
</nav>