---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Página no encontrada">
    <main class=" flex flex-col h-svh">
        <img src="https://http.cat/images/404.jpg" width="500px" class=" mx-auto mt-8" alt="">
        <a href="/" class=" mx-auto mt-4 rounded bg-black px-4 py-2 text-white transition-transform hover:scale-105">Volver a inicio</a>
    </main>
</Layout>

