---
import Layout from '../layouts/Layout.astro';
import Section from '@components/Section.astro';
import ProductsHero from '@components/layout/products_hero.astro';
---

<Layout title="NexGenTec" description='Bienvenidos a nuestra tienda virtual, aquí podrás encontrar todo tipo de componentes para tu pc y entre otros producto tecnológicos.'>
	<main class="flex flex-col gap-4">

		<section class="relative">
			<video
			src="video/banner1.mp4"
			width="1440"
			height="320"
			class=" aspect-video w-full h-[50rem] object-cover"
			loop
			autoplay
			muted
			/>
			<div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-center gap-4 text-sm md:text-base text-white animate-fade-up animate-duration-1000 animate-ease-in-out ">
				<h1 class="animate-charcter font-semibold text-8xl ">Descubre aquí todo lo que necesitas de tecnología</h1>
				<a href="" class="italic underline text-3xl transition-all hover:scale-110 ">Descubre aquí</a>
			</div>
		</section>

		<section class="container grid gap-4 px-4 md:grid-cols-2 md:gap-8 lg:px-6 xl:grid-cols-4">
			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-200"
			href="#">
				<img src="Laptop.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Laptops</span>
			</a>

			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[400ms]"
			href="#"
			>
				<img src="Desktop.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Desktops</span>
			</a>

			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[600ms]"
			href="#"
			>
				<img src="Components.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Components</span>
			</a>
			
			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[800ms]"
			href="#"
			>
				<img src="Accesorios.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Accessories</span>
			</a>
		</section>
		<ProductsHero/>

		<!-- <Section class="p-5 gap-4">
			
			<article class=" w-1/4 flex flex-col">
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Computadores</button>
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Portátiles</button>
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Perifericos</button>
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Telefonos</button>
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Consolas</button>
				<button class=" w-full text-left rounded-md p-2 hover:bg-black/5 transition-all">Decoraciones</button>
			</article>

			<article class="banner w-1/2 rounded">
				<div class=" p-12">
					<h1 class=" font-bold text-2xl mb-4">Lo último en computadoras</h1>
					<a href="" class=" bg-white text-black font-bold rounded-md p-2">Leer más</a>
				</div>
			</article>
			
			<article class=" w-1/4 flex flex-col gap-3">
				<div class=" px-2 py-3 bg-black/5 rounded-md">
					<div class=" flex items-center gap-2">
						<picture>
							<img src="https://www.asofiduciarias.org.co/wp-content/uploads/2018/06/sin-foto.png" class=" size-12 rounded-full" alt="">
						</picture>
						<div class=" flex flex-col">
							<span>Hola usuario</span>
							<span>Ya te registraste?</span>	
						</div>
					</div>
					<div class=" flex flex-col mt-2 gap-2">
						<a href="/register" class=" text-center py-1 bg-black/10 rounded-md hover:scale-105 transition-transform">Registrate aquí</a>
						<a href="/signin" class=" text-center py-1 bg-black text-white rounded-md hover:scale-105 transition-transform"> Inicia Sesión</a>
					</div>
				</div>

				<div class=" px-2 py-4 text-lg bg-orange-400 rounded-md text-white">
					<span>Obten cupones de $5 para fundas</span>
				</div>

				<div class=" px-2 py-4 text-lg bg-violet-400 rounded-md text-white">
					<span>Ofertas desde el 50% de descuento</span>
				</div>
			</article>
		</Section>

		<Section class="">
			<Prodcutos />
		</Section> -->

	</main>
</Layout>

<style>
	.animate-charcter {
		background-image: linear-gradient(
			-25deg,
			#fff800 0%,
			#7c0c9e 29%,
			#ff1361 67%,
			#fff800 100%
		);
		background-size: 200% auto;
		color: #fff;
		text-decoration: transparent;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 5s ease-in infinite;
	}

	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}
</style>

