---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Welcome to Astro." description='Hola'>
	<main>
		<h1>Welcome to Astro</hjson>
		<p>
			Welcome to your new Astro site! This is the home page. You can edit this file at <code>src/pages/index.astro</code>.
		</p>
	</main>
</Layout>

<style>

</style>
