---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Laptops'>
    <main class=" max-w-4xl mx-auto">
        <div>
            <span>Filtrar resultados: No Producto(s)</span>
            <span>Ordenar Por: <select name="" id=""><option value="">Recomendados</option></select></span>
        </div>
        <aside class=" w-1/3">
            <div>
                <span>Ordenar y filtrar</span>
                <button>Limpiar todo</button>
            </div>

            <hr>
            <div>
                <span>Por categoría</span>
                <label>
                    <span>Oficina</span>
                    <input type="checkbox" name="" id="">
                    Oficina
                </label>
                <label>
                    <span>Gaming</span>
                    <input type="checkbox" name="" id="">
                </label>
            </div>
            <hr>

            <div>
                
            </div>

        </aside>
        <section class=" w-4/6">
            <div>
                <h1>Portatiles</h1>
                <!-- Menú desplegable -->
            </div>


        </section>
    </main>
</Layout>